# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]
*.sqlite3

# Ignore IDE settings
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore log files
*.log
