<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TrendNest</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
  <header>
    <div class="logo">TrendNest</div>
    <nav>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'products:product_list' %}">Products</a>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
      <a href="{% url 'cart:cart_view' %}">Cart</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>© 2025 TrendNest. All Rights Reserved.</p>
  </footer>
</body>
</html>
